body{
	margin: 0;
	margin-top: 10px;
	background-color: grey;
}

.Controls{
	display: none;
}

button{
	position: absolute;
	top: 330px;
	width: 100px;
	height: 40px;
	font-size: 20px;
	left: calc(50% - 50px);
	background-color: black;
	color: white;
	border-radius: 10px;
	border: 3px rgb(80, 80, 80) solid;
}

#information{
	display: inline-block;
	width: 350px;
	position: absolute;
	top: 400px;
	left: calc(50% - 175px);
	text-align: center;
	font-size: 15px;
	padding: 20px;
	background-color: black;
	color: white;
}

#left_arrow, #right_arrow{
	width: 50px;
	position: absolute;
	top: 135px;
}

#left_arrow{
	z-index: 2;
	position: absolute;
	left: calc(50% - 225px);
}

#right_arrow{
	z-index: 2;
	position: absolute;
	right: calc(50% - 225px);
}

#image_1, #image_2, #image_3, #image_4{
	width: 500px;
	height: 300px;
	z-index: 1;
	position: absolute;
	top: 10px;
	left: calc(50% - 250px);
}

#image_1{
	display: block;
}

#image_2, #image_3, #image_4{
	display: none;
}

#dot_1, #dot_2, #dot_3, #dot_4{
	z-index: 2;
	padding: 15px;
	background-color: blue;
	border-radius: 15px;
	position: absolute;
	top: 250px;
}

#dot_1{
	background-color: gold;
}

#dot_1{
	position: absolute;
	left: calc(50% - 150px);
}

#dot_2{
	position: absolute;
	left: calc(50% - 50px);
}

#dot_3{
	position: absolute;
	left: calc(50% + 50px);
}

#dot_4{
	position: absolute;
	left: calc(50% + 150px);
}

#dot_1:hover, #dot_2:hover, #dot_3:hover, #dot_4:hover{
	background-color: red;
}